body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: switzer, sans-serif;
    background: linear-gradient(to right, #f5f5f7, rgba(255, 255, 255, 0)),
                url(./assets/Abstract\ Design.svg) no-repeat right center;
    background-size: contain;
}

.hero-box {
    max-width: 820px;
}

.logo {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.hero-box, .results-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}

.d-none {
    display: none;
}

h1, h2 {
    font-size: 36px;
    color: #292929;
    font-weight: 700;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: #4E4E4E;
    margin-bottom: 30px;
    font-weight: 400;
    line-height: 28px;
}

.btn {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 200px;
    padding: 10px 18px;
    border: none;
    border-radius: 4px;
    background: linear-gradient(90deg, #5638CF 0%, #F38868 100%);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.btn:hover {
    background: #292929;
}

#question-section {
    padding: 30px 60px;
    max-width: 720px;
    margin-bottom: 24px;
}

#question-section .header-logo img{
    width: 7vw;
    height: auto;
    margin-bottom: 20px;
}

#question-section .question-box {
    padding: 16px;
    border: 1px solid #CACACA80;
    border-radius: 8px;
    margin-bottom: 70px;
}

#question-section .question-box h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}

#answers-container label {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: block;
}

.progress-bar-container .progress-content {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

#answers-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="radio"] {
    margin-right: 10px;
}

/* Progress Bar Styles */
.progress-bar-container {
    display: flex;
    flex-direction: column;
    /*border-bottom: 1px solid #CACACA;*/
}

.progress-label {
    font-size: 20px;
    color: #292929;
    margin-bottom: 5px;
}

.progress {
    height: 5px;
    background-color: #e9ecef;
    border-radius: 2.5px;
    overflow: hidden;
}

.progress-bar {
    background-color: #5638CF;
}

.progress-percentage, .duration {
    font-size: 14px;
    color: #4E4E4E;
}

.duration {
    margin-left: auto;
}

/* Result section */

#result-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.results-box {
    max-width: 880px;
    margin-bottom: 24px;
    border: 1px solid #CACACA;
    padding: 20px 20px;
    margin: 0 auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.results-box .title {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 10px;
}

.results-box .results {
    font-size: 16px;
}

.results-box .results-hero-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.results-box .category h2{
    font-weight: 900;
    font-size: 48px;
    line-height: 60px;
    color: #12B76A;
    margin: 0;
}

.progress-bar-2 {
    display: flex;
    justify-content: space-around;
  }
  
  .progress-bar-2 .bar {
    flex: 1;
    padding: 20px;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    font-size: 14px;
  }

  .progress-bar-2 {
    display: flex;
    flex-direction: row;
  }

  .progress-bar-2 .progress-bar-wrap {
    margin: 0 2px;
  }

  .progress-bar-2 .progress-bar-wrap p{
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 2px;
    text-wrap: nowrap;
    letter-spacing: -0.21px;
  }
  
  .progress-bar-2 .bar:last-child {
    margin-right: 0;
  }
  